@use '/src/common/styles/colors' as *;
@use '/src/common/styles/templates' as *;

.pagination{
    @extend %flex-center;
    color: $yellow;
}
.page{
    display: inline-block;
    color: black;
    background-color: $yellow;
    border-radius: 50%;
    font-size: 20px;
    width: 32px;
    height: 32px;
    text-align: center;
    transform: translateY(-3px);
}