@use '/src/common/styles/colors' as *;
@use '/src/common/styles/templates' as *;

footer{
    background-color: $purple;
}
.footer{
    @extend %limit-width;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    h2{
        color: $lightGray;
    }
    h2::before{
        content: "{";
    }
    ul{
        display: flex;
        flex-direction: row;
        li{
            margin: 10px;
            a {
                padding: 0.5em;
            }
        }
    }
}
.active {
    background-color: $yellow;
    color: $text-light;
}