@use '/src/common/styles/colors' as *;
@use '/src/common/styles/templates' as *;

.bg{
    margin-top: 30px;
    background-color: $lavander;
}
.wrapper {
    @extend %limit-width;

    h2 {
        text-align: center;
    }
}
.user-info{
    display: flex;
    padding: 70px 0;
}
.user-image{
    width: 150px;
    height: 150px;
}
.bottom-line{
    height: 20px;
    background-image: linear-gradient(to right, $yellow 70%, $purple 70%);
}